@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
    margin: 0;
    padding: 0;

}

.header {
    width: 100vw;
    height: 8vh;
    background-color: rgba(31, 28, 28, 0.932);
    color: white;
    font-family: 'Bree Serif', serif;
    text-align: center;
}

.header h1 {
    margin-right: 80px;
}

.navbar {
    background-color: rgb(11, 10, 10);
    line-height: 10vh;
    
}

.navbar ul {
    display: flex;
    flex-direction: row;
    position: sticky;
    color: azure;
    font-family: 'Bree Serif', serif;
    

}

.navbar ul li {
    list-style: none;
    padding-right: 30px;
    padding-left: 10px;
    font-size: 1.8rem;
    
}

.navbar ul li:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: aqua;
    transition: 0.5s ease-in-out;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.dropdown {
    display: none;
}

.dropdown li {
    display: block;
}

.navbar ul li:hover .dropdown {
    display: block;
    position: absolute;
    background-color: rgb(19, 17, 17);
    margin-left: -10px;
}

.navbar ul li:hover .submenu {
    display: block;
}

.footer {
    height: 5vh;
    background-color: black;
    color: white;
    font-family: 'Bree Serif', serif;
    text-align: center;
}

/*  Ad Animations */

#offers {
    margin-top: 12px;
    /* margin-left: 10%; */
    /* background-color: gray; */
}

#offers p {
    border: 2px solid steelblue;
    margin-left: 10%;
    width: 80%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: offer_ani;
    animation-duration: 20s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes offer_ani {
    0% {
        background-image: url('/Images/Animation/ani1.jpg');
        width: 80%;
    }

    25% {
        background-image: url('/Images/Animation/ani2.png');
        width: 80%;
    }

    50% {
        background-image: url('/Images/Animation/ani3.jpg');
        width: 80%;
    }

    75% {
        background-image: url('/Images/Animation/ani4.jpg');
        width: 80%;
    }

    100% {
        background-image: url('/Images/Animation/ani5.jpg');
        width: 80%;
    }

}

.products{
    height: 160vh;
    margin: 5vh 1vw;
    border: 5px solid slategray;
    font-family: 'Bree Serif', serif;
}

.products h1{
    margin-left: 3vw;
    font-size: 2.5rem;
}

.cart1{
    margin: 5vh 3vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(225, 235, 241);
    
}

.cart-header{
    font-size: 2rem;
}

.cart1 img{
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 1vw;
    height: 30vh;
    width: 20vw;
    box-shadow: 10px 5px 5px rgb(105, 102, 102);
    
}

.cart1 img:hover{
    transform: scale(1.1);
}

.cart1 p{
    margin-left: 1vw;
}

.products .btn{
    border: 1px solid steelblue;
    border-radius: 10px;
    margin: 1.5vh 1.2vw;
    padding: 1.5vh 5vw;
    color: coral;
    letter-spacing: 3px;
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
    cursor: pointer;

}

.products .btn:active{
   background-color: rgb(250, 234, 230);
   border: 1px solid rgb(0, 255, 76);

}